.navbar {
    box-shadow: 0 4px 2px -2px black;
}


.container {

padding: 50px;
display:flex;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

